<div class="header">
    <div class="header-inner">
        <div class="logo">
            MOCK
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/list">列表</a>
                </li>
                <li>
                    <a href="/">mock</a>
                </li>
                <li>
                    <a href="/test">测试</a>
                </li>
            </ul>
        </div>
    </div>
</div>